<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>Shirina Holmatove </title>
    <meta charset="utf-8">
    <!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->


    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/animations.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/cue.css">
    <link rel="stylesheet" href="stylesheets/main.css" class="color-switcher-link">
    <link rel="stylesheet" href="stylesheets/shop.css" class="color-switcher-link">
    <link rel="stylesheet" href="stylesheets/mediaelementplayer-legacy.css">
    <script src="stylesheets/vendor/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
</head>

<body>


    <!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->
    <div class="preloader">
        <div class="preloader_image fa-spin"></div>
    </div>
    <!-- search modal -->
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal"> <button
            type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="rt-icon2-cross2"></i>
            </span>
        </button>
        <div class="widget widget_search">
            <form method="get" class="searchform search-form form-inline"
                action="../../external.html?link=https://html.modernwebtemplates.com/singer/">
                <div class="form-group bottommargin_0"> <input type="text" value="" name="search" class="form-control"
                        placeholder="Search keyword" id="modal-search-input"> </div> <button type="submit"
                    class="theme_button no_bg_button">Search</button>
            </form>
        </div>
    </div>
    <!-- Unyson messages modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
        <div class="fw-messages-wrap ls with_padding">
            <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
            <!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->
        </div>
    </div>
    <!-- eof .modal -->
    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">
            <!-- template sections -->
            <section
                class="page_topline ds table_section table_section_sm section_padding_top_10 section_padding_bottom_10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 text-center text-sm-left"> <span
                                class="small-text rightpadding_20 hidden-sm">follow me:</span> <span>
                                <a class="social-icon socicon-facebook" href="https://www.facebook.com/ShirinaMusic/"
                                    title="Facebook"></a>
                                <a class="social-icon socicon-instagram"
                                    href="https://www.instagram.com/shirinaholmatova/" title="Apple Music"></a>
                                <a class="social-icon socicon-youtube" href="https://www.youtube.com/@shirinaholmatova"
                                    title="Youtube"></a>
                                <a class="social-icon socicon-spotify" href="https://open.spotify.com/user/12155585743"
                                    title="Spotify"></a>
                                <a class="social-icon socicon-apple"
                                    href="https://music.apple.com/us/artist/shirina/337254875" title="Apple Music"></a>
                            </span> </div>
                        <div class="col-sm-6 text-center text-sm-right">
                            <div class="inline-content small-text greylinks">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <header class="page_header header_darkgrey header_transparent toggler_xs_right tall_header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 display_table">
                            <div class="header_left_logo display_table_cell"> <a href="index.html"
                                    class="logo top_logo">
                                    <!--   <img src="images/logo.png" alt="">-->
                                </a> </div>
                            <div class="header_mainmenu display_table_cell text-center">
                                <!-- main nav start -->
                                <nav class="mainmenu_wrapper">
                                    <ul class="mainmenu nav sf-menu">
                                        <li class="active"> <a href="#canvas">Home</a></li>
                                        <li> <a href="#about">About</a> </li>
                                        <!--	<li> <a href="#events">Events</a> </li> -->
                                        <li> <a href="#featured-video">Featured</a> </li>
                                        <li> <a href="#latest-album">Latest</a> </li>
                                        <!--   <li> <a href="#news">News</a> </li>-->
                                        <li> <a href="#gallery">Contact</a> </li>

                                    </ul>
                                </nav>
                                <!-- eof main nav -->
                                <!-- header toggler --><span class="toggle_menu"><span></span></span>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
            <section class="intro_section page_mainslider ds">
                <div class="flexslider" data-dots="true" data-nav="te">
                    <ul class="slides">
                        <li> <img src="images/shirinaimg.jpeg" alt="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <div class="slide_description_wrapper">
                                            <div class="slide_description">
                                                <div class="intro-layer" data-animation="fadeInUp">
                                                    <h2> <span class="small">Hello! I am a singer</span> Shirina
                                                        Halmotova
                                                    </h2>
                                                </div>
                                                <div class="intro-layer" data-animation="fadeInUp">
                                                    <p>Music only makes me stronger. Music speaks to the heart in ways
                                                        words cannot express.</p>
                                                </div>
                                            </div>
                                            <!-- eof .slide_description -->
                                        </div>
                                        <!-- eof .slide_description_wrapper -->
                                    </div>
                                    <!-- eof .col-* -->
                                </div>
                                <!-- eof .row -->
                            </div>
                            <!-- eof .container -->
                        </li>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="about"
                class="ds ms page_about parallax section_padding_top_130 section_padding_bottom_75 table_section table_section_md columns_margin_bottom_30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="with_frame_image"> <img src="images/shirinabio.jpg" alt="" class="rounded">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="section_header with_line">Biography</h2>
                            <p class="fontsize_20">At only 21 years of age, Shirina has already established herself as
                                the
                                most successful Australian artist of the past two decades.</p>
                            <p>Shirina has built a great following for herself on Social Media by busking all over the
                                country.

                                Her bountiful career has allowed her to work with Chic Hunter, Point Break Drama
                                Productions, Arizona Productions, Box Studios, the Tamworth Country Music Festival and
                                many more creative and production teams all over Australia.

                                With the launch of her latest hit 'Mess I've Made,' Shirina has her eyes set on breaking
                                out this year and expanding her career as a young musician internationally.</p>
                            <div class="content-justify vertical-center content-margins topmargin_25">
                                <div>
                                    <h3 class="highlight bottommargin_0">Shirina Halmotova</h3>


                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <section id="featured-video" class="ds parallax section_padding_top_150 section_padding_bottom_150">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center"> <a href="https://www.youtube.com/watch?v=ABR8J2bHNOM"
                                class="theme_button inverse round_button margin_0" data-gal="prettyPhoto[gal-video]">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                            <h2 class="section_header bottommargin_0"> Shirina Holmatova - I'm Not Perfect </h2>
                        </div>
                    </div>
                </div>
            </section>
            <section id="latest-album"
                class="ds ms page_latest_album parallax section_padding_top_150 section_padding_bottom_100 columns_margin_bottom_30 columns_padding_25">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="section_header with_line">Latest Album</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-7">
                            <div class="vertical-item slide-media opened-media">
                                <div class="item-media-wrap"> <img src="images/albums/02.jpg" alt="">
                                    <div class="item-media back-media"> <img src="images/albums/cd.png" alt=""> </div>
                                    <div class="item-media with_frame_image"> <iframe style="border-radius:14px"
                                            src="https://open.spotify.com/embed/track/4CsZWdew0mDiMvuoSCs046?utm_source=generator&theme=0"
                                            width="100%" height="352" frameBorder="0" allowfullscreen=""
                                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                            loading="lazy"></iframe>
                                        <div class="media-links no-overlay">
                                            <div class="links-wrap"> <span>
                                                    <i class="fa fa-play highlight" aria-hidden="true"></i>
                                                </span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content topmargin_35">


                                    <p><br> <span class="grey">Certifications:</span> Verified Artist </p>

                                    <div class="big-icons topmargin_25">
                                        <a href="https://music.apple.com/us/artist/shirina/337254875"
                                            class="social-icon border-icon rounded-icon socicon-apple">
                                        </a>
                                        <a href="https://open.spotify.com/artist/7kCdcgzkZC4E78Xgv3Re8I"
                                            class="social-icon border-icon rounded-icon socicon-spotify">
                                        </a>
                                        <a href="https://www.youtube.com/@shirinaholmatova"
                                            class="social-icon border-icon rounded-icon socicon-youtube">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <article>
                                <div class="entry-content">
                                    <div class="cue-playlist-container">
                                        <div class="cue-playlist cue-theme-default">
                                            <ol class="cue-tracks"></ol>
                                        </div>
                                        <iframe style="border-radius:12px"
                                            src="https://open.spotify.com/embed/track/0ONVoEPsMxQdeMNwXlurjh?utm_source=generator&theme=0"
                                            width="100%" height="352" frameBorder="0" allowfullscreen=""
                                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                            loading="lazy"></iframe>
                                        <p></p>
                                        <iframe style="border-radius:12px"
                                            src="https://open.spotify.com/embed/track/2c8ACzcyooD9m4XyfmPBJS?utm_source=generator"
                                            width="100%" height="352" frameBorder="0" allowfullscreen=""
                                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                            loading="lazy"></iframe>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <!--  <section id="news" class="ds ms section_padding_top_150 section_padding_bottom_130">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="section_header with_line">Latest News</h2>
                            <div class="owl-carousel topmargin_60" data-responsive-lg="3" data-dots="true">
                                <article
                                    class="vertical-item content-padding with_background rounded text-center offset_button">
                                    <div class="item-media top_rounded overflow_hidden"> <img
                                            src="images/gallery/11.jpg" alt="">
                                        <div class="media-links"> <a href="blog-single-right.html" class="abs-link"></a>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="entry-meta small-text content-justify"> <span class="greylinks">
                                                    <a href="blog-single-right.html">
                                                        <time datetime="2017-10-03T08:50:40+00:00">
                                                            23 sept 2017
                                                        </time>
                                                    </a>
                                                </span> <span class="categories-links highlightlinks">
                                                    <a href="#0">Life</a>
                                                </span> </div>
                                            <h4 class="entry-title"> <a href="blog-single-right.html">Rachel Featured As
                                                    One Of TIME's Women</a> </h4>
                                        </header>
                                        <div class="entry-content">
                                            <p class="content-3lines-ellipsis">Bacon ipsum dolor amet hamburger biltong
                                                meatball, salami capicola sirloin tail t-bone beef kevin drumstick.</p>
                                            <span class="button_wrap">
                                                <a href="blog-single-right.html" class="theme_button color1">Read
                                                    More</a>
                                            </span>
                                        </div>
                                    </div>
                                </article>
                                <article
                                    class="vertical-item content-padding with_background rounded text-center offset_button">
                                    <div class="item-media top_rounded overflow_hidden"> <img
                                            src="images/gallery/18.jpg" alt="">
                                        <div class="media-links"> <a href="blog-single-right.html" class="abs-link"></a>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="entry-meta small-text content-justify"> <span class="greylinks">
                                                    <a href="blog-single-right.html">
                                                        <time datetime="2017-10-03T08:50:40+00:00">
                                                            24 sept 2017
                                                        </time>
                                                    </a>
                                                </span> <span class="categories-links highlightlinks">
                                                    <a href="#0">Music</a>
                                                </span> </div>
                                            <h4 class="entry-title"> <a href="blog-single-right.html">Rachel Covers
                                                    Business Of Fashion's Print Edition</a> </h4>
                                        </header>
                                        <div class="entry-content">
                                            <p class="content-3lines-ellipsis">Filet mignon pork belly flank tri-tip
                                                salami. Cupim pig capicola venison, sausa cow jerky ground round.</p>
                                            <span class="button_wrap">
                                                <a href="blog-single-right.html" class="theme_button color1">Read
                                                    More</a>
                                            </span>
                                        </div>
                                    </div>
                                </article>
                                <article
                                    class="vertical-item content-padding with_background rounded text-center offset_button">
                                    <div class="item-media top_rounded overflow_hidden"> <img
                                            src="images/gallery/19.jpg" alt="">
                                        <div class="media-links"> <a href="blog-single-right.html" class="abs-link"></a>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="entry-meta small-text content-justify"> <span class="greylinks">
                                                    <a href="blog-single-right.html">
                                                        <time datetime="2017-10-03T08:50:40+00:00">
                                                            25 sept 2017
                                                        </time>
                                                    </a>
                                                </span> <span class="categories-links highlightlinks">
                                                    <a href="#0">Concerts</a>
                                                </span> </div>
                                            <h4 class="entry-title"> <a href="blog-single-right.html">Fetish (Galantis
                                                    Mac Remix) Out Now</a> </h4>
                                        </header>
                                        <div class="entry-content">
                                            <p class="content-3lines-ellipsis">Brisket cow strip steak filet mignon
                                                salami meatball, chuck corned beef spare ribs pork loin brisket meatloaf
                                                tongue.</p> <span class="button_wrap">
                                                <a href="blog-single-right.html" class="theme_button color1">Read
                                                    More</a>
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->
            <section id="gallery" class="ds ms">
                <div class="owl-carousel gallery-carousel" data-responsive-xlg="8" data-responsive-lg="6"
                    data-responsive-md="5" data-responsive-sm="4" data-responsive-xs="2" data-loop="true"
                    data-margin="0" data-nav="true">
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina1.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina1.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina2.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina2.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina3.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina3.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina4.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina4.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina5.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina5.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina6.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina6.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina16.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina16.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina8.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina8.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina21.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina21.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina10.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina10.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina11.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina11.jpg"></a> </div>
                        </div>
                    </div>
                    <div class="vertical-item corporate consulting">
                        <div class="item-media"> <img src="images/gallery-square/shirina12.jpg" alt="">
                            <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]"
                                    title="" href="images/gallery/shirinaimages/shirina12.jpg"></a> </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="page_footer ds section_padding_top_100 section_padding_bottom_100 columns_padding_25">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="widget widget_text">
                                <h4 class="widget-title with_line"> My Contacts </h4>
                                <div>
                                    <div class="media small-media inline-block">
                                        <div class="media-left"> <i class="fa fa-map-marker highlight"
                                                aria-hidden="true"></i> </div>
                                        <div class="media-body"> Sydney, New South Wales, Australia </div>
                                    </div><br>
                                    <!-- <div class="media small-media inline-block">
                                        <div class="media-left"> <i class="fa fa-phone highlight"
                                                aria-hidden="true"></i> </div>
                                        <div class="media-body"> 1-888-652-2588 </div>
                                    </div><br> -->
                                    <!--   <div class="media small-media inline-block">
                                        <div class="media-left"> <i class="fa fa-pencil highlight"
                                                aria-hidden="true"></i> </div>
                                          <div class="media-body"> <a
                                                href="../../external.html?link=https://html.modernwebtemplates.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="6e1c0f0d060b0231080f002e0b160f031e020b400d0103">[email&#160;protected]</a>
                                        </div>
                                    </div><br>-->
                                    <div class="media small-media greylinks inline-block">
                                        <div class="media-left"> <i class="fa fa-internet-explorer highlight"
                                                aria-hidden="true"></i> </div>
                                        <div class="media-body"> <a
                                                href="#">https://www.instagram.com/shirinaholmatova/</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="widget widget_mailchimp">
                                <h4 class="widget-title with_line">My Newsletter</h4>
                                <form class="signup"
                                    action="../../external.html?link=https://html.modernwebtemplates.com/singer/"
                                    method="get">
                                    <p class="bottommargin_20">Subscribe to our mailing list to receive new updates
                                        and
                                        special offers:</p>
                                    <div class="form-group-wrap">
                                        <div class="form-group"> <label for="mailchimp" class="sr-only">Enter your
                                                email
                                                here</label> <input name="email" type="email" id="mailchimp"
                                                class="mailchimp_email form-control" placeholder="Your Email Address*">
                                        </div> <button type="submit"
                                            class="theme_button color1 no_bg_button">Subscribe</button>
                                    </div>
                                    <div class="response"></div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </footer>
            <section class="ds ms page_copyright section_padding_top_40 section_padding_bottom_40">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p>&copy; Copyright 2023. All Rights Reserved.</p>
                            <div> <a class="social-icon color-bg-icon round-icon socicon-facebook"
                                    href="https://www.facebook.com/ShirinaMusic/" title="Facebook"></a> <a
                                    class="social-icon color-bg-icon round-icon socicon-instagram"
                                    href="https://www.instagram.com/shirinaholmatova/" title="Instagram"></a>
                                <a class="social-icon color-bg-icon round-icon socicon-youtube"
                                    href="https://www.youtube.com/@shirinaholmatova" title="Youtube"></a> <a
                                    class="social-icon color-bg-icon round-icon socicon-spotify"
                                    href="https://open.spotify.com/user/12155585743" title="Spotify"></a>
                                <a class="social-icon color-bg-icon round-icon socicon-apple"
                                    href="https://music.apple.com/us/artist/shirina/337254875" title="Apple Music"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- eof #canvas -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="javascripts/compressed.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/mediaelement-and-player.min.js"></script>
    <script src="javascripts/mediaelement-migrate.min.js"></script>
    <script>
        var _cueSettings = {
            "l10n":
            {
                "nextTrack": "Next Track",
                "previousTrack": "Previous Track",
                "togglePlayer": "Toggle Player",
                "togglePlaylist": "Toggle Playlist"
            }
        };
    </script>
</body>

</html>